
body {
    background-color: #eeeeee;
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px, 50px, 50px, 50px;
    border-radius: 50px;
    border: 2px, solid #cbcbcb;
    box-shadow: 10px, 15px, 5px, #cbcbcb;
}

.grid h1 {
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 5px black;
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 2px, 0px;
    border-radius: 50px;
}

.grid #question {
    font-family: sans-serif;
    font-size: 15px;
    color: #5a6772;
    text-align: center;
}

.buttons {
    margin-top: 30px;
    align-content: center;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #5a6772;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px 10px;
}


#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #EF830A
}


#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0px;
}

#timer {
    color: #2b2b2b;
    font-size: 18px;
    text-align: center;
}


#results {
    color: #fff;
    font-size: 18px;
    text-align: center;
}